services:
  postgresql:
    image: postgres:16.4-alpine
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=order_processor
      - POSTGRES_PASSWORD=order_processor
      - POSTGRES_DB=order_processor

  localstack:
    image: localstack/localstack:3.8.1
    ports:
      - '4566:4566' # LocalStack endpoint
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - ./.scripts/localstack:/etc/localstack/init/ready.d
      - '/var/run/docker.sock:/var/run/docker.sock'