name: CI
on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - released

jobs:
  app-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Set up JVM
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}
          restore-keys: |
            gradle-${{ runner.os }}
            gradle-
      - name: Check
        run: ./gradlew check --no-daemon