name: CI
on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - released

jobs:
  app-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up JVM
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Check
        run: ./gradlew check --no-daemon